<header class="header">
  <nav class="nav">
    <ul class="ul">
      <li class="logo-cliente">
        <p>Logo del cliente</p>
      </li>
      <li class="log-user">
        <div class="modules">
          <li class="items">
            <div>
              <mat-icon>
                people
              </mat-icon>
            </div>
            <p>Clientes</p>
          </li>
          <li class="items">
            <mat-icon>
              payment
            </mat-icon>
            <p>Creditos</p>
          </li>
          <li class="items">
            <mat-icon>
              account_balance_wallet
            </mat-icon>
            <p>Conta</p>
          </li>
          <li class="items">
            <mat-icon>
              insert_chart
            </mat-icon>
            <p>Reporte</p>
          </li>
          <li class="items">
            <mat-icon>
              account_balance
            </mat-icon>
            <p>Ahorros</p>
          </li>
          <li class="items">
          <mat-icon>
              insert_chart
            </mat-icon>
          <p>Caja</p></li>
          <li class="items">
          <mat-icon>
              settings
            </mat-icon>
          <p>Parametros</p>
      </li>
        </div>
        <div class="circle">
          <fa-icon class="icon" [icon]="faUser"></fa-icon>
        </div>
      </li>
    </ul>
  </nav>
</header>
