<section>
  <form class="container">
    <div class="grid">
      <div class="flex-items">
        <label for="first_name">Pimer Nombre</label>
        <input class="name" type="text" name="first_name" id="first_name"/>
      </div>
      <div class="flex-items">
        <label for="second_name">Segundo Nombre</label>
        <input class="name" type="text" name="first_second" id="second_name"/>
      </div>
      <div class="flex-items">
        <label for="three_name">Otros nombres</label>
        <input class="name" type="text" name="first_three" id="three_name"/>
      </div>
      <div class="flex-items">
        <label for="first_surname">Pimer Apellido</label>
        <input class="name" type="text" name="first_name" id="first_surname"/>
      </div>
      <div class="flex-items">
        <label for="second_surname">Segundo Apellido</label>
        <input class="name" type="text" name="first_second" id="second_surname"/>
      </div>
      <div class="flex-items">
        <label for="married_surname">Apellido de casada</label>
        <input class="name" type="text" name="first_three" id="married_surname"/>
      </div>
    </div>
    <div class="grid-custom">
      <div class="content">
        <div class="name-complete">
          <label for="complete">Nombre completo</label>
          <input class="names-complete name" type="text" name="complete" id="complete"/>
        </div>
        <div class="custom-grid">
          <label for="birthdate">Fecha de nacimiento</label>
          <div class="date">
            <input type="date" name="birthdate" id="birthdate"/>
            <mat-icon>insert_invitation</mat-icon>
          </div>
          <div class="date">
            <label class="nit" for="nit">NIT</label>
            <input type="text" name="nit" id="nit"/>
          </div>
        </div>
        <div class="custom-grid">
          <label for="sexo">Sexo</label>
          <div class="date">
            <select name="sexo" id="sexo">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="date">
            <label class="tel" class="tel" for="nit">Telefono</label>
            <input type="text" name="tel" id="tel"/>
          </div>
        </div>
        <div class="custom-grid">
          <label for="birthdate">Estado Civil</label>
          <div class="date">
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="date">
            <label class="email" for="email">Email</label>
            <input type="text" name="email" id="email"/>
          </div>
        </div>
        <div class="custom-grid">
          <label for="skills">Profecion u Oficio</label>
          <input class="skill" type="text" name="skills" id="skills"/>
          <input type="text"/>
        </div>

        <div class="identification">
          <div class="id">
            <div class="flex">
              <p>tipo de identificacion</p>
              <select class="type-ident">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="flex">
              <p>Numero de identificacion </p>
              <select class="type-ident">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>

            <div class="flex">
              <p>Es PEP? </p>
              <div class="flex-items">
                <mat-slide-toggle class="toggle"/>
                <button class="visibility">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>
            <div class="flex">
              <p>Es PEP? </p>
              <div class="flex-items">
                <mat-slide-toggle class="toggle"/>
                <button class="visibility">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>
            <div class="flex">
              <p>Es PEP? </p>
              <div class="flex-items">
                <mat-slide-toggle class="toggle"/>
                <button class="visibility">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>
            <div class="flex">
              <p>Es PEP? </p>
              <div class="flex-items">
                <mat-slide-toggle class="toggle"/>
                <button class="visibility">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="box-address">
            <h4>Direccion de Residencia</h4>
            <div class="flex">
              <p>Direccion</p>
              <input type="text"/>
            </div>
            <div class="flex">
              <p>Zona</p>
              <input type="text"/>
            </div>
            <div class="flex">
              <p>Pais </p>
              <select class="type-ident">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="flex">
              <p>Departamento</p>
              <select class="type-ident">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="flex">
              <p>Municipio</p>
              <select class="type-ident">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="information">
        <h3>Nacionalidades</h3>
        <div class="city">
          <div class="city-field">
            <p>Pais</p>
            <input type="text"/>
            <select class="type-ident">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <p>Condicion Migratoria</p>
          <div class="flex">

            <select class="type-ident">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <mat-icon>note_add</mat-icon>
          </div>
          <div class="table">
            <table>
              <thead>
              <tr>
                <th>ID</th>
                <th>Nacionalidad</th>
                <th>Condicion</th>
                <th>Acciomn</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>GT</td>
                <td>Guatemala</td>
                <td>Cuidadanos</td>
                <td>
                  <button class="edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="delete">
                    <mat-icon>delete</mat-icon>
                  </button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="city">
          <h3>
            Pais de nacimiento
          </h3>
          <select class="type-ident">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <h4>Condiciones Migratorias</h4>
          <select class="type-ident">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>

        </div>
      </div>
    </div>
  </form>


  <p [style.font-size]="20">{{ counter() }}</p>
  <p>{{ double() }}</p>
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <button (click)="reset()">reset</button>

</section>
